@{
}
@model burialmain


<div class="card text-dark bg-light m-1 p-1" style="max-width: 70rem;"">
    <div class="card-header bg-opacity-75 p-1">
        <h5>Burial ID: @Model.id</h5>
        
    <ul class="card-body list-group">
        <li>Preservation: @Model.preservation</li>
        <li>Text: @Model.text</li>
        <li>Hair Color: @Model.haircolor</li>
        <li>Wrapping: @Model.wrapping</li>
        <li>Sex: @Model.sex</li>
        <li>Age at Death: @Model.ageatdeath </li>
        <li>Facebundles: @Model.facebundles</li>
    </ul>
    <div class="card-footer">
        <span class="badge bg-info" style="float:inline-end">
            <a href="@Url.Action("Edit", "Home", new { burialId = Model.id })">Edit</a>
        </span>
        <span class="badge bg-info" style="float:inline-end">
            <a href="@Url.Action("Delete", "Home", new { burialId = Model.id })">Delete</a>
        </span>
    </div>
    </div>
</div>
