@{
}
@model burialmain


<div class="card card-outline-primary m-1 p-1">
    <div class="bg-light p-1">
        <h5>Burial ID: @Model.id</h5>
    </div>
    <ul>
        <li>Preservation: @Model.preservation</li>
        <li>Text: @Model.text</li>
        <li>Hair Color: @Model.haircolor</li>
        <li>Wrapping: @Model.wrapping</li>
        <li>Sex: @Model.sex</li>
        <li>Age at Death: @Model.ageatdeath </li>
        <li>Facebundles: @Model.facebundles</li>
    </ul>
    <h5><a asp-controller="Home" asp-action="Edit" asp-route-id="@Model.id">Edit</a></h5>
    <h5><a asp-controller="Home" asp-action="Delete" asp-route-id="@Model.id">Delete</a></h5>
</div>
