@{
}
@model PublicBurialmain


<div class="card card-outline-primary m-1 p-1">
    <div class="bg-light p-1">
        <h5>Burial ID: @Model.Id</h5>
    </div>

    <ul>
        <li>Preservation: @Model.Preservation</li>
        <li>Text: @Model.Text</li>
        <li>Hair Color: @Model.Haircolor</li>
        <li>Wrapping: @Model.Wrapping</li>
        <li>Sex: @Model.Sex</li>
        <li>Age at Death: @Model.Ageatdeath </li>
        <li>Facebundles: @Model.Facebundles</li>
    </ul>
</div>