@{
    ViewData["Title"] = "Summary Page";
    Layout = "~/Views/Shared/_NavBar.cshtml";
}

@model BurialsViewModel


<div class="row m-1 p-1">
    <div id="types" class="col-3">
        <a asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary">Home Page</a>
    </div>


    <div class="col-6">
        @foreach (burialmain Bm in Model.Burials)
        {
            <partial name="BurialSummary" model="Bm" />
        }
    </div>
</div>

<div class="form-group">
    <label for="page-input">Jump to page:</label>
    <input type="number" id="page-input" name="page" min="1" max="@Model.PageInfo.TotalPages">
    <button type="submit" class="btn btn-primary" 
        href="@Url.Action("Summary", new { pageNum = 6 })">Go</button>
</div>


<div page-blah="@Model.PageInfo" page-action="Summary" page-class="btn"
        page-class-normal="btn-outline-dark" page-class-selected="btn-primary"
        page-classes-enabled="true" page-class-nuts="right: 300" class="pagination">

</div>



@*@if (Model.PageCount > 1)
{
    <div class="pagination">
        <ul>
            @{
                int startPage = Model.PageNumber - 2;
                if (startPage < 1)
                {
                    startPage = 1;
                }

                int endPage = startPage + 4;
                if (endPage > Model.PageCount)
                {
                    endPage = Model.PageCount;
                    startPage = endPage - 4;
                    if (startPage < 1)
                    {
                        startPage = 1;
                    }
                }
            }

            @if (Model.HasPreviousPage)
            {
                <li><a href="@Url.Action("Summary", new { page = Model.PageNumber - 1 })">Previous</a></li>
            }

            @for (int i = startPage; i <= endPage; i++)
            {
                if (i == Model.PageNumber)
                {
                    <li class="active"><span>@i <span class="sr-only">(current)</span></span></li>
                }
                else
                {
                    <li><a href="@Url.Action("Summary", new { page = i })">@i</a></li>
                }
            }

            @if (Model.HasNextPage)
            {
                <li><a href="@Url.Action("Summary", new { page = Model.PageNumber + 1 })">Next</a></li>
            }
        </ul>
    </div>*@