@{
    ViewData["Title"] = "Summary Page";
    Layout = "~/Views/Shared/_NavBar.cshtml";
}

@model BurialsViewModel


<div class="row m-1 p-1">
    <div class="col-3 sidenav">
        <a asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary">Home Page</a>
        <form method="get" action="@Url.Action("Summary", "Home" )">
            <label>Sex:</label>
            <input type="text" name="sex" id="sex" /> <br />
            <label>Depth:</label>
            <input type="text" name="depth" id="depth" /> <br />
            <label>Age at Death:</label>
            <input type="text" name="ageatdepth" id="ageaatdepth" /> <br />
            <label>Head Direction:</label>
            <input type="text" name="sex" id="sex" /> <br />
            <label>Wrapping:</label>
            <input type="text" name="wrapping" id="wrapping" /> <br />
            <label>Goods:</label>
            <input type="text" name="goods" id="goods" /> <br />
            <input type="hidden" name="pageNum" value="@Model.PageInfo.CurrentPage">
            <button type="submit">Filter</button>
        </form>
    </div>


    <div class="col-6">
        @foreach (burialmain Bm in Model.Burials)
        {
            <partial name="BurialSummary" model="Bm" />
        }
    </div>
    
    <div class="col-3 sidenav">
        <a asp-controller="Home" asp-action="CreateBurial" class="btn btn-outline-secondary">Create New Record</a>
    </div>
</div>

<div class="form-group d-flex justify-content-center align-items-center">
    <form method="get" action="@Url.Action("Summary", "Home" )">
        <label for="pageNum">Jump to page:</label>
        <input type="number" id="pageNum" name="pageNum" min="1" max="@Model.PageInfo.TotalPages">
        <button type="submit" class="btn btn-primary">
            Go
        </button>
    </form>
</div>


<div page-blah="@Model.PageInfo" page-action="Summary" page-class="btn"
        page-class-normal="btn-outline-dark" page-class-selected="btn-primary"
        page-classes-enabled="true" page-class-nuts="right: 300" class="pagination">

</div>

