@{
    ViewData["Title"] = "Summary Page";
    Layout = "~/Views/Shared/_NavBar.cshtml";
}

@model BurialsViewModel

<style>
    label {
        display: inline-block;
        width: 120px; /* adjust as needed */
        text-align: right;
        margin-right: 20px; /* adjust as needed */
    }

    input {
        display: inline-block;
        width: calc(50%); /* adjust as needed */
        box-sizing: border-box;
    }
</style>

<div class="row m-1 p-1">
    <div class="col-4 sidenav" style="background-color:navajowhite">
        <div class="text-center m-1 p-1">
            <a asp-controller="Home" asp-action="CreateBurial" class="btn btn-primary">Create New Record</a>
        </div>
        <form method="get" class="col-form-label" action="@Url.Action("Summary", "Home" )">
            <label>Sex:</label>
            <input type="search" name="sex" id="sex" /> <br />
            <label>Depth:</label>
            <input type="search" name="depth" id="depth" /> <br />
            <label>Age at Death:</label>
            <input type="search" name="ageatdepth" id="ageaatdepth" /> <br />
            <label>Head Direction:</label>
            <input type="search" name="sex" id="sex" /> <br />
            <label>Wrapping:</label>
            <input type="search" name="wrapping" id="wrapping" /> <br />
            <label>Goods:</label>
            <input type="search" name="goods" id="goods" /> <br />
            <input type="hidden" name="pageNum" value="@Model.PageInfo.CurrentPage">
            <br />
            <div class="text-center m-1 p-1">
                <button class="btn btn-primary" type="submit">Filter</button>
            </div>
        </form>
    </div>


    <div class="col-6">
        @foreach (burialmain Bm in Model.Burials)
        {
            <partial name="BurialSummary" model="Bm" />
        }
    </div>
    
@*    <div class="col-3 sidenav" style="background-color:navajowhite">
        
    </div>*@
</div>

<div class="form-group d-flex justify-content-center align-items-center">
    <form method="get" action="@Url.Action("Summary", "Home" )">
        <label for="pageNum">Jump to page:</label>
        <input type="number" id="pageNum" name="pageNum" min="1" max="@Model.PageInfo.TotalPages">
        <button type="submit" class="btn btn-primary">
            Go
        </button>
    </form>
</div>

<div page-blah="@Model.PageInfo" page-action="Summary" page-class="btn"
        page-class-normal="btn-outline-dark" page-class-selected="btn-primary"
        page-classes-enabled="true" page-class-nuts="right: 300" class="pagination">
</div>

